<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow p-4">
        <div class="row align-items-center mb-4">
          <div class="col-12 text-center">
            <img
              src="assets/logo.webp"
              alt="Logo Sara Store"
              class="img-fluid mb-3"
              style="max-width: 100px"
            />
            <h5 class="text-primary fw-bold">
              Ingresa tus datos personales para realizar el envío
            </h5>
          </div>
        </div>

        <form [formGroup]="formEnvio" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="nombre" class="form-label fw-bold"
                >Nombre completo*</label
              >
              <input
                type="text"
                id="nombre"
                class="form-control"
                formControlName="nombre"
                placeholder="Ingresa tu nombre"
              />
            </div>
            <div class="col-md-6">
              <label for="celular" class="form-label fw-bold">Celular*</label>
              <input
                type="tel"
                id="celular"
                class="form-control"
                formControlName="celular"
                placeholder="Celular"
              />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="tipoDoc" class="form-label fw-bold"
                >Tipo documento*</label
              >
              <select
                id="tipoDoc"
                class="form-select"
                formControlName="tipoDoc"
              >
                <option value="" disabled selected>Seleccione...</option>
                <option value="CC">Cédula</option>
                <option value="TI">Tarjeta de identidad</option>
                <option value="CE">Cédula de extranjería</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="numDoc" class="form-label fw-bold"
                >Número documento*</label
              >
              <input
                type="text"
                id="numDoc"
                class="form-control"
                formControlName="numDoc"
                placeholder="Número documento"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="departamento" class="form-label fw-bold"
                >Tipo documento*</label
              >
              <select
                id="departamento"
                class="form-select"
                formControlName="departamento"
              >
                <option selected disabled>Selecciona</option>
                <option value="Antioquia">Antioquia</option>
                <option value="Cundinamarca">Cundinamarca</option>
                <option value="Valle del Cauca">Valle del Cauca</option>
                <option value="Bogotá D.C.">Bogotá D.C.</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="municipio" class="form-label fw-bold">Ciudad*</label>
              <select
                class="form-select"
                id="municipio"
                placeholder="Ej: Medellín"
                required
              >
                <option selected disabled>Selecciona</option>
                <option value="Medellín">Medellín</option>
                <option value="Bogotá">Bogotá</option>
                <option value="Cali">Cali</option>
                <option value="Barranquilla">Barranquilla</option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="direccion" class="form-label fw-bold">Dirección*</label>
            <input
              type="text"
              id="direccion"
              class="form-control"
              formControlName="direccion"
              placeholder="Dirección de entrega"
            />
          </div>

          <div class="d-flex justify-content-between mt-4">
            <button type="reset" class="btn btn-secondary">
              <i class="bi bi-arrow-counterclockwise"></i> Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
              <i class="bi bi-send"></i> Pagar
            </button>
          </div>
        </form>
      </div>
  </div>
</div>
